<script type="text/javascript">
    $( function() {
        $( "input[id*='ajax']" ) .click(
        function() {
            $(this).button('loading');
            }
        );
        $('a[href=#]').click(function(){
            return false;
        });
        $( "li[id*='itemlist']" ).click(function() {
            $(this).children("ul").slideToggle();
        });
    });

</script>

<div class="hero-unit">
	<%= form_tag("/upload", :multipart => true) do %>
		<input name="attachment" type="file"/>
		<input type="submit" />
	<% end %>
    
    <%#= button_to "Github",  {:action => "ajax",:para => 1}, {:remote => true, :id => "ajax1", :class => "btn-primary"}%>
    <%#= button_to "Other",  {:action => "ajax",:para => 2}, {:remote => true, :id => "ajax2", :class => "btn-primary"}%>
    <%= form_tag('/ajax', :remote => true) do %>
        <%= text_field_tag :name %>
        <%= submit_tag "アイテムリスト作成"%>
    <% end %>

     <div id="result"><%=render :partial => "show_itemlists"%></div>

    <%if !@user.token then%>
        <%= link_to "githubのデータを登録する","/auth/github"%>
    <%else%>
        <%@json = json_to_hash("https://api.github.com/repos/#{@user.github_name}/views/commits", @user.token)%>
        <%= render :partial => "show_json"%>
    <% end %>
    <%= @hoge %>
<br />
session:<%= session[:uid] %><br />
u_name:<%= @user.name %>

</div>
