
<div class="hero-unit">
  <p>
    <p>Now:<%=Time.now%></p>
    
    <%=link_to '更新やで', {:action =>'upup'}, :remote => true%>
    <div id="result"></div>
  	<%=@hoge%>
  </p>
  <%= link_to "githubでログイン","/auth/github"%>
<%= session[:uid] %>
<br />

</div>
